// full width image
#fw-img {
	.content-block-fw-img {
		@include bg_img_cover();
		position: relative;
	    padding-top: 75vh;
	    height: 75vh;
        background-attachment: fixed;
	}

	.content-block-fw-img:before {
		@include background_opacity(0.5);
	}

	.cb-fw-overlay {
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 2;
		width: 35vw;
		height: 50%;
		@include translate(-50%,0);
		background-color: #010101;

		.cb-fw-overlay-txt {
			padding: 3vw 2vw 0;
			#{headings(1,6)} {
				margin: 0 0 3vh;
				color: #fff;
			}

			p {
				color: #848484;
				a{	
					@include btn01();
					color: #fff;
					top: 5vh;
				}
				a:hover {
					@include btn01_hover();
				}
			}
		}
	}
}

@include respond-below(xs) {
	#fw-img {
		.content-block-fw-img {
			padding-top: 40vh;
			background-attachment: scroll;
			height: 50vh;
		}
		.cb-fw-overlay {
			display: none;
			.cb-fw-overlay-txt {
				p {
					a {
						padding: 2vw 4vw;
						display: inline-block;
						top: 0;
						margin: 5vw auto;
					}
				}
				p:last-of-type {

				}
			}
		}
		.cb-fw-overlay-mb {
			position: relative;
			bottom: auto;
			top: 0;
			width: 100%;
			height: auto;
			left: 0;
			display: block;
			@include translate(0,0);
			background-color: #010101 !important;
			.cb-fw-overlay-txt {
				padding: 8vw 0 6vw;
				width: 85vw;
				margin: auto;
				p {
					a {
						padding: 2vw 4vw;
						display: inline-block;
						top: 0;
						margin: 5vw auto;
					}
				}
				p:last-of-type {

				}
			}
		}
	}
}

@include respond-above(xs) {
	.cb-fw-overlay-mb {
		display: none;
	}
}

@include respond-between(xs, sm) {
	#fw-img {
		.content-block-fw-img{
			padding-top: 85vh;
			background-attachment: scroll;
		}
		.cb-fw-overlay {
			width: 45vw;
			height: 53%;
			.cb-fw-overlay-txt {
				padding: 3vw 2vw 0;
				p {
					a {
						top: 1vw;
						display: inline-block;
						margin: 1vw 0;
					}
				}
			}
		}
	}
}