// l/r centralised content block
#content-block-center {
	@include flexbox();
	@include flex-center();
	padding: 6vw 0;

	.content-block-center {
		width: 70vw;
		.cb-cols-2{
			@include flexbox();

			.text-col {
				@include flexbox();
				justify-content: center;
				align-items: center;
			}

			.cb-cols-2-img {
				@include bg_img_cover();
				height: 40vh;
			}

			.left-col {
				width: 50%;
				.cb-cols-2-txt{
					width: 90%;
					margin: 0; 
					h3:last-of-type, h2:last-of-type, h1:last-of-type {
						margin: 0 0 3vh;
					}
					p:last-of-type{
					
					}
					p {
						a {
						@include btn01();
						margin: 2vh 0;
						}
					}
					a:hover {
						@include btn01_hover();
					}
				}
			}

			.right-col {
				width: 50%;
				.cb-cols-2-txt{
					width: 90%;
					margin: 0;
				}
				h3:last-of-type, h2:last-of-type, h1:last-of-type {
					margin: 0 0 3vh;
				}
				p:last-of-type{
				
				}
				p {
					a {
					@include btn01();
					margin: 2vh 0;
					}
				}
				a:hover {
					@include btn01_hover();
				}
			}

			div[id^="content_block_slider_"], div[id*="content_block_slider_"] {
				.carousel-indicators {
					bottom: -12.5%;
					li {
					    background-color: $grey-d;
					}
					.active {
						background-color: #CC3B2E;
					}
				}
				.carousel-inner {
					.carousel-item {
						@include bg_img_cover;
						padding-top: 60%;
					}
				}
			}
		}
	}
}

@include respond-below(xs) {
	#content-block-center {
		padding: 4vh 0 4vh;
		.content-block-center {
		    width: 90vw;
			.cb-cols-2 {
				flex-direction: column-reverse;
				.left-col {
				    width: 100%;
				    margin: 0 0 4vh;
				    .carousel {
				    	margin: 4vh 0 4vh 0;
				    }
				    .cb-cols-2-txt {
				    	width: 100%;
				    	p {
				    		a {
				    			padding: 2vw 4vw;
			    			    top: 0;
			    			    margin: 4vh 0 0 0;
			    			    display: inline-block;
				    		}
				    	}
				    } 
				}
				.right-col {
				    width: 100%;
				    margin: 4vh 0;
				    .carousel {
				    	margin: 4vh 0 4vh 0;
				    }
					.cb-cols-2-txt {
						width: 100%;
						p {
							a {
								padding: 2vw 4vw;
								top: 0;
								margin: 4vh 0 5vh 0;
								display: inline-block;
							}
						}
					} 
				}
			}
		}
	}
}

@include respond-between(xs, sm) {
	#content-block-center {
		padding: 6vw 0 8vw;
		.content-block-center{
			width: 90vw;
			.cb-cols-2 {
				.left-col {
					.cb-cols-2-txt {
						h3 {
							font-size: 2.5vw;
						}
						h3:last-of-type {
							margin: 0 0 4vh;
						}
						p {
							a {
								display: inline-block;
							}
						}
					}
				}
				.cb-cols-2-img {
					height: 60vh;
				}
			}
		}
	}
	@media screen and (orientation: portrait) {
		#content-block-center {
			.content-block-center {
				.cb-cols-2 {
					.cb-cols-2-img {
						height: 40vh;
					}
				}
			}
		}
	}
}