.content-block-intro-text {
	width: 100%;
    text-align: center;
    padding: 10vh 0 5vh;
    color: #fff;
    #{headings(1,6)} {
    	margin: 0 0 3vh;
    }
}


// All the content blocks for site
@import "content-block-fw-image.scss";
@import "content-block-2-col.scss";
@import "content-block-post-grid.scss";
@import "content-block-stats.scss";
@import "content-block-testimonial.scss";
@import "content-block-1-col.scss";
@import "content-block-transport-grid.scss";
@import "content-block-transport-links.scss";
@import "content-block-latest-post.scss";
@import "content-block-post-grid-masonary.scss";
@import "content-block-left-aligned-text.scss";
@import "content-block-fw-slider.scss";
@import "content-block-video.scss";
@import "content-block-1col-narrow.scss";
@import "content-block-social.scss";

