// post grid
#post_grid {
	@include flexbox();
	@include flex-center();
	flex-wrap: wrap;

	.post-grid {
		@include flexbox();
		flex-wrap: wrap;
		width: 65vw;
	    margin: 0 0 10vh;
		.col-left {
			@include flexbox();
			flex-wrap: wrap;
			width: 50%;
		}

		.col-right {
			width: 50%;
		}

		#post_widget_1, #post_widget_2, #post_widget_4, #post_widget_3 {
			width: 50%;
		}

		#post_widget_5 {
			width: 100%;
		}

		.post-widget {
			padding: 1vh;
			.hovered { 
				.post-widget-img {
					.post-widget-overlay {
						opacity: 1;
						cursor: pointer;
					}
				}
			}
			.post-widget-img{
				@include bg_img_cover();
				height: 100%;
				.post-widget-overlay {
					@include flexbox();
					@include flex-center();
					background-image: url('../imaages');
					height: 100%;
					background-color: rgba(197, 27, 0, 0.75);
					text-align: center;
					opacity: 0;
					transition: ease 0.5s opacity;

					p {
						color: #fff;
						width: 90%;
					}
				}
			}
		}
	}
}

@include respond-below(xs) {
	#post_grid {
		.content-block-intro-text {
			width: 90vw;
		}
		.post-grid {
			width: 90vw;
			margin: 0 0 5vh;
			.col-left {
				width: 100%;
			}
			#post_widget_1, #post_widget_2, #post_widget_4, #post_widget_3 {
				width: 100%;
			}
			.col-right {
				width: 100%;
			}
		}
	}
}

@include respond-between(xs, sm) {
	#post_grid {
		.post-grid {
			width: 90vw;
		}
	}
}