#content-block-col-1 {
	// background-color: #585856;
	.content-block-col-1 {
		padding: 12vh 5vw;
	}
}

@include respond-below(xs) {
	#content-block-col-1 {
		.content-block-col-1 {
			width: 90vw;
			margin: auto;
			padding: 6vh 0;
			
			#{headings(1,6)} {
				
				span {
					
				}
			}
		}	
	}
}