.search-container {
	position: relative;
    transition: ease 0.5s all;
	.search-field {
		position: absolute;
		top: 50%;
		left: 2vw;
		transform: translate(0,-50%);
		display: none;
		opacity: 0;
	}
}

@include respond-below(xs) {
	header {
		.header-wrapper {
			.search-container {
				display: none;
			}
		}
	}
}