$fbColor:               #3b5998;
$twColor:               #55acee;
$gplusColor:            #dd4b39;
$ytColor:               #bb0000;
$liColor:               #007bb6;
$pinColor:              #cb2027;
$instColor:             #cd486b;

$orange:				rgb(245,130,32);
$grey-d:				rgb(88,89,91);
$grey_font:				rgb(76,74,74);